.menu-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 2;
    transition: .2s ease;
    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu-items{
            display: flex;
            gap: 40px;
            li{
                a{
                    color: rgba(0, 0, 0, 0.7);
                }
            }
        }
    }
    #toggler{
        i{
            color: white;
            cursor: pointer;
            font-size: 30px;
        }
    }
    #header-logo{
        max-width: 150px;
    }
}
.menu-wrapper.inverted{
    background: #1d2d60;
    padding: 10px 0;
    transition: .2s ease;
}