*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    // font-family: SegoeUI;
    font-family: 'Poppins', sans-serif;
}
body.fixed{
    position: fixed;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

p{
    font-size: 15px;
}

.top-header{
    position: relative;
    overflow: hidden;
}
#sky, #mountain-front, #mountain-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#sky{
    background-image: url(../images/sky.png);
}
#mountain-front{
    background-image: url(../images/mountain-front.png);
}
#mountain-back{
    background-image: url(../images/mountain-back.png);
}