

main.single-video {
    .top {
        background-color: #1D2D60;
        padding: 100px 0 50px 0;
        video{
            width: 100%;
        }
    
            .item-details {
                margin-top: 20px;
                h3.item-title {
                    color: white;
                }

                .item-meta {
                    span {
                        color: white;
                    }
                }
            }
        
    }

    .video-wrapper-top {
        display: grid;
        grid-template-columns: calc(80% - 30px) 20%;
        gap: 30px;
        align-items: flex-start;

        .watch-next-videos {
            // max-height: 600px;
            height: 100%;
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            overflow: auto;
            padding-right: 10px;

          

            // .swiper, .swiper-wrapper{
            //     height: 100%;
            // }
            .ad-block{
                height: auto;
            }
        }
    }


    .video-player {
        .video-item {
            .item-details {
                margin-top: 10px;

                h3.item-title {
                    font-size: 22px;
                }

                .item-meta {
                    justify-content: flex-start;
                    gap: 4px;
                    align-items: center;

                    span {
                        font-size: 14px;

                        &~span {
                            &::before {
                                content: '-';
                                display: inline-block;
                                margin-right: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
#video-player{
    position: relative;
}
#reklama{
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: none;
  
    img{
        width: 100%;
        height: 90%;
        object-fit: contain;
    }
}
.ad-redirect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block;
    cursor: pointer;
}
.close-ad{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgba(0,0,0,0.5);
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    z-index: 2;
    p{
        color: white;
    }
}
@media(max-width:991px){
    main.single-video{
        .video-wrapper-top{
            grid-template-columns: 1fr;
            .watch-next-videos{
                padding: 0;
                max-width: 690px;
                flex-wrap: nowrap;
                padding-bottom: 30px;
                .video-item{
                    min-width: calc(33.33% - 20px);
                }
                .ad-block{
                    min-width: calc(33.33% - 20px);
                }
            }
        }
    }
}

@media(max-width:576px){
    main.single-video{
        .video-wrapper-top{
            .watch-next-videos{
                .video-item, .ad-block{
                    min-width: calc(48% - 20px);
                }
            }
        }
    }
}