@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Light"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semilight"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Bold"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semibold"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

body.fixed {
  position: fixed;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 15px;
}

.top-header {
  position: relative;
  overflow: hidden;
}

#sky, #mountain-front, #mountain-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#sky {
  background-image: url(../images/sky.png);
}

#mountain-front {
  background-image: url(../images/mountain-front.png);
}

#mountain-back {
  background-image: url(../images/mountain-back.png);
}

.page-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media (min-width: 576px) {
  .page-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .page-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .page-container {
    max-width: 1200px;
  }
}

.menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 3;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.menu-wrapper .logo-dark {
  display: none;
}

.menu-wrapper .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-wrapper #toggler i {
  color: white;
  cursor: pointer;
  font-size: 30px;
}

.menu-wrapper #header-logo {
  max-width: 150px;
}

.menu-wrapper.inverted {
  background: #1d2d60;
  padding: 10px 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.menu-wrapper.filled {
  background: #1d2d60 !important;
  padding: 10px 0;
}

.menu-wrapper.active #toggler i {
  color: #1D2D60;
}

.menu-wrapper.active .logo-light {
  display: none;
}

.menu-wrapper.active .logo-dark {
  display: block;
}

.menu-grid {
  padding: 100px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 100px 50px;
}

@-webkit-keyframes fadeMenuItem {
  from {
    opacity: 0;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadeMenuItem {
  from {
    opacity: 0;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.menu-items {
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
  opacity: 0;
}

.menu-items h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
}

.menu-items li a {
  color: rgba(0, 0, 0, 0.7);
  font-size: 22px;
  font-weight: 300;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.menu-items li a:hover {
  opacity: 0.7;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.menu-items li ~ li {
  margin-top: 5px;
}

#overlay-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  opacity: 0.2;
  pointer-events: none;
}

.menu-items.animate {
  -webkit-animation: fadeMenuItem 1s forwards;
          animation: fadeMenuItem 1s forwards;
}

@-webkit-keyframes animateLiveDot {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animateLiveDot {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.live-dot {
  width: 10px;
  height: 10px;
  background: #f00;
  display: inline-block;
  border-radius: 5px;
  -webkit-animation: animateLiveDot 1s infinite;
          animation: animateLiveDot 1s infinite;
}

.fixed-menu {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  overflow: auto;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.fixed-menu.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.top-header {
  min-height: 400px;
  background-image: url("../images/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-wrapper {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}

.search-wrapper .search-bar {
  position: relative;
}

.search-wrapper .search-bar input {
  height: 50px;
  outline-width: 0;
  border-radius: 3px;
  border: none;
  font-family: 'Poppins', sans-serif;
}

.search-wrapper .search-bar input[type="text"] {
  width: 100%;
  padding: 0 45px 0 20px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}

.search-wrapper .search-bar ::-webkit-input-placeholder {
  color: #515666;
}

.search-wrapper .search-bar :-ms-input-placeholder {
  color: #515666;
}

.search-wrapper .search-bar ::-ms-input-placeholder {
  color: #515666;
}

.search-wrapper .search-bar ::placeholder {
  color: #515666;
}

.search-wrapper .search-bar button.submit-btn {
  position: absolute;
  height: 80%;
  width: 40px;
  right: 5px;
  top: 5px;
  background-color: #1D2D60;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border: none;
  border-radius: 5px;
}

.search-wrapper .search-bar button.submit-btn i {
  color: white;
  font-size: 18px;
}

.search-wrapper .search-bar button.submit-btn:hover {
  opacity: 0.8;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.search-wrapper .autocomplete-wrapper {
  display: none;
  position: absolute;
  background: white;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.15);
  overflow: auto;
}

.search-wrapper .autocomplete-wrapper span {
  display: block;
  font-size: 14px;
  padding: 10px 20px;
  cursor: pointer;
}

.search-wrapper .autocomplete-wrapper span:hover {
  background: #ebebeb;
}

.search-wrapper .autocomplete-wrapper span.focused {
  background: #ebebeb;
}

.search-wrapper.show-results .search-bar input[type="text"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search-wrapper.show-results .autocomplete-wrapper {
  display: block;
}

.recent-locations {
  max-width: 350px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.recent-locations .recent-location {
  background: rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 15px;
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.recent-locations .recent-location:hover {
  background: #12121a;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.recent-locations .recent-location * {
  color: white;
}

.recent-locations .recent-location .weather-icon i {
  color: #B89B36;
  font-size: 16px;
}

.ads-block {
  max-width: 900px;
  margin: 50px auto;
  text-align: center;
}

.ads-block p {
  font-size: 25px;
}

.ads-block img {
  max-width: 100%;
}

.ad-block {
  height: 100%;
  font-size: 20px;
  position: relative;
  text-align: center;
}

.ad-block p {
  font-size: 18px;
  color: black;
}

.ad-block img {
  max-width: 100%;
}

.ad-block span.sponsored {
  position: absolute;
  top: 4px;
  right: 4px;
  background: rgba(29, 45, 96, 0.3);
  z-index: 2;
  font-size: 10px;
  color: #fff;
  padding: 1px 3px;
  border-radius: 2px;
}

.section {
  padding: 50px 0;
}

.section .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.section .section-title h2 {
  font-size: 18px;
}

.section .section-title a {
  font-size: 14px;
  color: black;
}

.video-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.video-item .item-thumbnail {
  position: relative;
}

.video-item .item-thumbnail img {
  width: 100%;
}

.video-item .item-thumbnail span.duration {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 3px;
}

.video-item .item-thumbnail span.red-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background: radial-gradient(50% 50% at 50% 50%, #FF4B4B 0%, rgba(255, 0, 0, 0.78) 100%);
  margin-right: 5px;
}

.video-item .item-details {
  margin-top: 2px;
}

.video-item .item-details h3.item-title {
  font-size: 16px;
  color: #232630;
}

.video-item .item-details .item-meta {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video-item .item-details .item-meta span {
  font-size: 12px;
  color: #515666;
}

@media (max-width: 991px) {
  .video-grid {
    gap: 20px;
  }
  .video-item .item-details h3.item-title {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .video-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

main.single-video {
  /* Track */
  /* Handle */
  /* Handle on hover */
}

main.single-video .top {
  background-color: #1D2D60;
  padding: 100px 0 50px 0;
}

main.single-video .top video {
  width: 100%;
}

main.single-video .top .item-details {
  margin-top: 20px;
}

main.single-video .top .item-details h3.item-title {
  color: white;
}

main.single-video .top .item-details .item-meta span {
  color: white;
}

main.single-video .video-wrapper-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(80% - 30px) 20%;
      grid-template-columns: calc(80% - 30px) 20%;
  gap: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main.single-video .video-wrapper-top .watch-next-videos {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: auto;
  padding-right: 10px;
}

main.single-video .video-wrapper-top .watch-next-videos .ad-block {
  height: auto;
}

main.single-video .video-player .video-item .item-details {
  margin-top: 10px;
}

main.single-video .video-player .video-item .item-details h3.item-title {
  font-size: 22px;
}

main.single-video .video-player .video-item .item-details .item-meta {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.single-video .video-player .video-item .item-details .item-meta span {
  font-size: 14px;
}

main.single-video .video-player .video-item .item-details .item-meta span ~ span::before {
  content: '-';
  display: inline-block;
  margin-right: 4px;
}

main.single-video ::-webkit-scrollbar {
  width: 4px;
}

main.single-video ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

main.single-video ::-webkit-scrollbar-thumb {
  background: #888;
}

main.single-video ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#video-player {
  position: relative;
}

#reklama {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

#reklama img {
  width: 100%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

.close-ad {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.close-ad p {
  color: white;
}

@media (max-width: 991px) {
  main.single-video .video-wrapper-top {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  main.single-video .video-wrapper-top .watch-next-videos {
    padding: 0;
    max-width: 690px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-bottom: 30px;
  }
  main.single-video .video-wrapper-top .watch-next-videos .video-item {
    min-width: calc(33.33% - 20px);
  }
  main.single-video .video-wrapper-top .watch-next-videos .ad-block {
    min-width: calc(33.33% - 20px);
  }
}

main.archive {
  padding-top: 70px;
}

footer {
  padding: 30px 0;
}

footer p, footer a {
  color: #6F7484;
}

footer a {
  text-decoration: underline;
  font-weight: 400;
}

footer .socials {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */